.NET/ProductManagement/.vs/ProductManagement/config/applicationhost.config
.NET/ProductManagement/.vs/ProductManagement/DesignTimeBuild/.dtbcache.v2
.NET/ProductManagement/.vs/ProductManagement/FileContentIndex/680d3312-48a0-4f81-af8e-4491c6689b82.vsidx
.NET/ProductManagement/.vs/ProductManagement/FileContentIndex/9bbfb3a8-7c25-4ab6-ad56-200e4c9834a8.vsidx
.NET/ProductManagement/.vs/ProductManagement/FileContentIndex/e170b927-d635-4ba4-8c03-f08b5994f5fe.vsidx
.NET/ProductManagement/.vs/ProductManagement/FileContentIndex/e7e13e1e-dc68-4e1e-8692-3e55b605fc24.vsidx
.NET/ProductManagement/.vs/ProductManagement/FileContentIndex/f61c3551-91b0-40f2-93e2-b62f0ef3615c.vsidx
.NET/ProductManagement/.vs/ProductManagement/v17/.futdcache.v2
.NET/ProductManagement/.vs/ProductManagement/v17/.suo
.NET/ProductManagement/.vs/ProductManagement/v17/DocumentLayout.backup.json
.NET/ProductManagement/.vs/ProductManagement/v17/DocumentLayout.json
.NET/ProductManagement/.vs/ProjectEvaluation/productmanagement.metadata.v9.bin
.NET/ProductManagement/.vs/ProjectEvaluation/productmanagement.projects.v9.bin
.NET/ProductManagement/.vs/ProjectEvaluation/productmanagement.strings.v9.bin
.NET/ProductManagement/ProductManagement.API/appsettings.Development.json
.NET/ProductManagement/ProductManagement.API/ProductManagement.API.http
.NET/ProductManagement/ProductManagement.API/bin/Debug/net8.0/appsettings.Development.json
.NET/ProductManagement/ProductManagement.API/bin/Debug/net8.0/Azure.Core.dll
Angular/ProductManagement.Frontend/public/favicon.ico
Angular/ProductManagement.Frontend/tsconfig.app.json
Angular/ProductManagement.Frontend/tsconfig.json
Angular/ProductManagement.Frontend/tsconfig.spec.json
Angular/ProductManagement.Frontend/.vscode/extensions.json
Angular/ProductManagement.Frontend/.vscode/launch.json
Angular/ProductManagement.Frontend/.vscode/tasks.json
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.pdb
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.sourcelink.json
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ref/ProductManagement.Infrastructure.dll
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/refint/ProductManagement.Infrastructure.dll
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductM.6D34A66C.Up2Date
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.AssemblyInfo.cs
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.AssemblyInfoInputs.cache
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.assets.cache
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.csproj.AssemblyReference.cache
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.csproj.BuildWithSkipAnalyzers
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.csproj.CoreCompileInputs.cache
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.csproj.FileListAbsolute.txt
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.dll
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.genruntimeconfig.cache
.NET/ProductManagement/ProductManagement.Infrastructure/obj/Debug/net8.0/ProductManagement.Infrastructure.GlobalUsings.g.cs
.NET/ProductManagement/ProductManagement.Domain/obj/project.assets.json
.NET/ProductManagement/ProductManagement.Domain/obj/project.nuget.cache
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.AssemblyInfo.cs
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.AssemblyInfoInputs.cache
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.assets.cache
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.csproj.BuildWithSkipAnalyzers
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.csproj.CoreCompileInputs.cache
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.csproj.FileListAbsolute.txt
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.dll
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
.NET/ProductManagement/ProductManagement.Domain/obj/Debug/net8.0/ProductManagement.Domain.GlobalUsings.g.cs
